/*  import google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
html{
    scroll-behavior: smooth;
}

/* custom scroll bar */
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* all similar content styling codes */
section{
    padding: 100px 0;
}
.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}
.about, .myblogs, .contact, footer, .about-tick{
    font-family: 'Poppins', sans-serif;
}
.about .about-content,
.about-tick .tick-about-content,
.myblogs .blog-content,
.contact .contact-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
section .title{
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: 'Ubuntu', sans-serif;
}
section .title::before{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 180px;
    height: 3px;
    background: #111;
    transform: translateX(-50%);
}
section .title::after{
    position: absolute;
    bottom: -8px;
    left: 50%;
    font-size: 20px;
    color: rgb(156 28 54);
    padding: 0 5px;
    background: #fff;
    transform: translateX(-50%);
}


/* navbar styling */
.navbar{
    position: fixed;
    width: 100%;
    z-index: 999;
    padding: 30px 0;
    font-family: 'Ubuntu', sans-serif;
    transition: all 0.3s ease;
}
.navbar.sticky{
    padding: 15px 0;
    background: rgb(156 28 54);
}
.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .logo a{
    color: #fff;
    font-size: 35px;
    font-weight: 600;
}
.navbar .logo a span{
    color: rgb(156 28 54);
    transition: all 0.3s ease;
}
.navbar.sticky .logo a span{
    color: #fff;
}
.navbar .menu li{
    list-style: none;
    display: inline-block;
}
.navbar .menu li a{
    display: block;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.3s ease;
}
.navbar .menu li a:hover{
    color: crimson;
}
.navbar.sticky .menu li a:hover{
    color: #fff;
}

/* menu btn styling */
.menu-btn{
    color: #fff;
    font-size: 23px;
    cursor: pointer;
    display: none;
}
.scroll-up-btn{
    position: fixed;
    height: 45px;
    width: 42px;
    background: rgb(156 28 54);
    right: 30px;
    bottom: 10px;
    text-align: center;
    line-height: 45px;
    color: #fff;
    z-index: 9999;
    font-size: 30px;
    border-radius: 6px;
    border-bottom-width: 2px;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}
.scroll-up-btn.show{
    bottom: 30px;
    opacity: 1;
    pointer-events: auto;
}
.scroll-up-btn:hover{
    filter: brightness(90%);
}


/* home section styling */
.home{
    display: flex;
    background: url("Photos/background.jpg") no-repeat center;
    height: 100vh;
    color: #fff;
    min-height: 500px;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Ubuntu', sans-serif;
}
.home .max-width{
  width: 100%;
  display: flex;
}
.home .max-width .row{
  margin-right: 0;
}
.home .home-content .text-1{
    font-size: 27px;
}
.home .home-content .text-2{
    font-size: 75px;
    font-weight: 600;
    margin-left: -3px;
}
.home .home-content .text-3{
    font-size: 20px;
    margin: 5px 0;
}
.home .home-content .text-2 span{
    color: rgb(156, 28, 54);
    font-weight: 400;
}
 .home .home-content a{
    display: inline-block;
    background: rgb(156, 28, 54);;
    color: #fff;
    font-size: 20px;
    padding: 12px 36px;
    margin-top: 20px;
    font-weight: 300;
    border-radius: 6px;
    border: 2px solid rgb(156, 28, 54);
    transition: all 0.3s ease;
} 
 .home .home-content a:hover{
    color: rgb(156, 28, 54);
    background: none;
} 


/* Video background */

.video-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1; /* Ensure it stays in the background */
}

.video-background video {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Cover the entire section */
}


.
/* about section styling */
.about .title::after{
    content: "who i am";
}
.about .about-content .left{
    width: 45%;
}

.about .about-content .left img{
    height: 400px;
    width: 400px;
    object-fit: cover;
    border-radius: 6px;
}
.about .about-content .right{
    width: 55%;
}
.about .about-content .right .text{
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
}
.about .about-content .right .text span{
    color: rgb(156, 28, 54);
}
.about .about-content .right p{
    text-align: justify;
}
.about .about-content .right a{
    display: inline-block;
    background: rgb(156, 28, 54);
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    padding: 10px 30px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid rgb(156, 28, 54);
    transition: all 0.3s ease;
}
.about .about-content .right a:hover{
    color: rgb(156, 28, 54);
    background: none;
}

/* My blogs section styling */
.myblogs {
    color:#fff;
    /* background: #111; */
    background-image: url(Photos/background.jpg);
}
.myblogs .title::before {
    background: #fff;
}
.myblogs .title::after{
    background: #000;
    content: "what i provide";
}

.myblogs .link{
    color: #9c1c36;
}

.myblogs .link:hover{
    color: white;
}

.myblogs .blog-content .card{
    width: calc(33% - 20px);
    background: #222;
    text-align: center;
    border-radius: 6px;
    padding: 50px 25px;
    cursor: pointer;
    transition: all 0.3s ease;
    margin: 10px;

}
.myblogs .blog-content .card:hover{
    color: rgb(156, 28, 54);
}
.myblogs .blog-content .card .box{
    transition: all 0.3s ease;
}
.myblogs .blog-content .card:hover .box{
    transform: scale(1.05);
}
.myblogs .blog-content .card i{
    font-size: 50px;
    color: rgb(156, 28, 54);
    transition: color 0.3s ease;
}
.myblogs .blog-content .card:hover i{
    color: #fff;
}
.myblogs .blog-content .card .text{
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0 7px 0;
}

.myblogs {
    background-color: black;
    color: white; /* Optional: change the text color for better visibility */
}

/* 
 Home button about me 
.more_about {
    animation: wiggle 2s linear infinite;
}

#more_about {
    color:rgb(156, 28, 54);
}

.more_about {
    
    left: calc(50% - 3em);
    top: calc(50% - 2em);
    
    height: 2em;
    width: 8.5em;

    background: #101b1d;
    background: linear-gradient(top, #555, #333);
    border: none;
    border-top: 3px solid rgb(156, 28, 54);
    border-radius: 0 0 0.2em 0.2em;
    color: #fff;
    font-family: Helvetica, Arial, Sans-serif;
    font-size: 1em;
    transform-origin: 50% 5em;
  } */

/* Keyframes */
@keyframes wiggle {
    0%, 7% {
      transform: rotateZ(0);
    }
    15% {
      transform: rotateZ(-15deg);
    }
    20% {
      transform: rotateZ(10deg);
    }
    25% {
      transform: rotateZ(-10deg);
    }
    30% {
      transform: rotateZ(6deg);
    }
    35% {
      transform: rotateZ(-4deg);
    }
    40%, 100% {
      transform: rotateZ(0);
    }
  }


/* teams section styling */
.teams .title::after{
    content: "who with me";
}
.teams .carousel .card{
    background: #222;
    border-radius: 6px;
    padding: 25px 35px;
    text-align: center;
    overflow: hidden;
    transition: all 0.3s ease;
}
.teams .carousel .card:hover{
    background: crimson;
}
.teams .carousel .card .box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
}
.teams .carousel .card:hover .box{
    transform: scale(1.05);
}
.teams .carousel .card .text{
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0 7px 0;
}
.teams .carousel .card img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid crimson;
    transition: all 0.3s ease;
}
.teams .carousel .card:hover img{
    border-color: #fff;
}
.owl-dots{
    text-align: center;
    margin-top: 20px;
}
.owl-dot{
    height: 13px;
    width: 13px;
    margin: 0 5px;
    outline: none!important;
    border-radius: 50%;
    border: 2px solid crimson!important;
    transition: all 0.3s ease;
}
.owl-dot.active{
    width: 35px;
    border-radius: 14px;
}
.owl-dot.active,
.owl-dot:hover{
    background: crimson!important;
}

/* contact section styling */
.contact .title::after{
    content: "get in touch";
}
.contact .contact-content .column{
    width: calc(50% - 30px);
}
.contact .contact-content .text{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}
.contact .contact-content .left p{
    text-align: justify;
}
.contact .contact-content .left .icons{
    margin: 10px 0;
}
.contact .contact-content .row{
    display: flex;
    height: 65px;
    align-items: center;
}
.contact .contact-content .row .info{
    margin-left: 30px;
}
.contact .contact-content .row i{
    font-size: 25px;
    color: rgb(156 28 54);
}
.contact .contact-content .info .head{
    font-weight: 500;
}
.contact .contact-content .info .sub-title{
    color: #333;
}
.contact .right form .fields{
    display: flex;
}
.contact .right form .field,
.contact .right form .fields .field{
    height: 45px;
    width: 100%;
    margin-bottom: 15px;
}
.contact .right form .textarea{
    height: 80px;
    width: 100%;
}
.contact .right form .name{
    margin-right: 10px;
}
.contact .right form .field input,
.contact .right form .textarea textarea{
    height: 100%;
    width: 100%;
    border: 1px solid lightgrey;
    border-radius: 6px;
    outline: none;
    padding: 0 15px;
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
    transition: all 0.3s ease;
}
.contact .right form .field input:focus,
.contact .right form .textarea textarea:focus{
    border-color: #b3b3b3;
}
.contact .right form .textarea textarea{
  padding-top: 10px;
  resize: none;
}
.contact .right form .button-area{
  display: flex;
  align-items: center;
}
.right form .button-area button{
  color: #fff;
  display: block;
  width: 160px!important;
  height: 45px;
  outline: none;
  font-size: 18px;
  font-weight: 500;
  border-radius: 6px;
  cursor: pointer;
  flex-wrap: nowrap;
  background: rgb(156 28 54);
  border: 2px solid rgb(156 28 54);
  transition: all 0.3s ease;
}
.right form .button-area button:hover{
  color: rgb(156 28 54);
  background: none;
}

/* footer section styling */
footer{
    background: #111;
    /* background-image: url(Photos/background.jpg); */
    padding: 15px 23px;
    color: #fff;
    text-align: center;
}

footer span a{
    color: crimson;
    text-decoration: none;
}
footer span a:hover{
    text-decoration: underline;
}

/* my blogs section styling */

.myblogs .title::after{
    content: "Take a look!";
}

.myblogs .row {
   
    margin: 8px -16px;
}

.myblogs .row, .row > .column {
    padding: 8px;
}

.myblogs .column {
    float: left;
    width: 25%;
}

.myblogs .row::after{
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout for blog */

@media screen and (max-width: 900px){
    .myblogs .column{
        width: 100%;
    }}

    /* @media screen and (max-width: 900px){
    .myblogs .column{
        width: 100%;
    }} */




/* Social Media section styling */


.wrapper {
    position: absolute;
    top: 50%;
    left: 45%;
    transform: translate(-50%, -50%);
  }

  .social_list {
    list-style: none;
  }

 .social_list #li_list {
    width: 50px;
    height: 50px;
    position: relative;
    background: #e59500;
    margin: 10px 0;
    cursor: pointer;
    border-radius: 3px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
  }
  
  .social_list #li_list .fa {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    color: #fff;
  }
  
  .social_list #li_list.facebook{
    background: #3b5998;
  }

  .social_list #li_list.instagram{
    background: rgb(38, 38, 38);
  }

  .social_list #li_list.linkedin{
    background: #0069b3;
  }

/* responsive media query start */
@media (max-width: 1104px) {
    .about .about-content .left img{
        height: 350px;
        width: 350px;
    }
}

/* Slider for facebook */

.slider_fb {
    content: "";
    position: absolute;
    top: 0;
    left: 51px;
    width: 0px;
    height: 50px;
    background: #3b5998;
    border-radius: 3px;
    transition: all 0.5s 0.3s ease;
  }
  
  .slider_fb p {
    font-family: arial;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 900;
    color: #fff;
    text-align: center;
    line-height: 50px;
    opacity: 0;
    transition: all 0.6s ease;
  }
  
  ul li:hover .slider_fb {
    width: 180px;
    transition: all 0.5s ease;
  }
  
  ul li:hover .slider_fb p {
    opacity: 1;
    transition: all 1s 0.2s ease;
  }
  
  /* Slider for Instagram  */

  
.slider_insta {
    content: "";
    position: absolute;
    top: 0;
    left: 51px;
    width: 0px;
    height: 50px;
    background: rgb(38, 38, 38);
    border-radius: 3px;
    transition: all 0.5s 0.3s ease;
  }
  
  .slider_insta p {
    font-family: arial;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 900;
    color: #fff;
    text-align: center;
    line-height: 50px;
    opacity: 0;
    transition: all 0.6s ease;
  }
  
  ul li:hover .slider_insta {
    width: 180px;
    transition: all 0.5s ease;
  }
  
  ul li:hover .slider_insta p {
    opacity: 1;
    transition: all 1s 0.2s ease;
  }
  
  /* Slider for Linkedin */

  
.slider_link {
    content: "";
    position: absolute;
    top: 0;
    left: 51px;
    width: 0px;
    height: 50px;
    background: #0069b3;
    border-radius: 3px;
    transition: all 0.5s 0.3s ease;
  }
  
  .slider_link p {
    font-family: arial;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 900;
    color: #fff;
    text-align: center;
    line-height: 50px;
    opacity: 0;
    transition: all 0.6s ease;
  }
  
  ul li:hover .slider_link {
    width: 180px;
    transition: all 0.5s ease;
  }
  
  ul li:hover .slider_link p {
    opacity: 1;
    transition: all 1s 0.2s ease;
  }
  
  
  

/* Tick about media */

@media (max-width: 1104px) {
    .about-tick .tick-about-content .left img{
        height: 350px;
        width: 350px;
        padding-top: 25px;
    }





    /* tick about */
    .about-tick .tick-about-content .column{
        width: 100%;
    }
    .about-tick .tick-about-content .left{
        display: flex;
        justify-content: center;
        margin: 0 auto 60px;
    }
    .about-tick .tick-about-content .right{
        flex: 100%;
    }
}

@media (max-width: 991px) {
    .max-width{
        padding: 0 50px;
    }

    /* tick about */

    .about-tick .tick-about-content .column{
        width: 100%;
    }
    .about-tick .tick-about-content .left{
        display: flex;
        justify-content: center;
        margin: 0 auto 60px;
    }
    .about-tick .tick-about-content .right{
        flex: 100%;
    }
}
@media (max-width: 947px){
    .menu-btn{
        display: block;
        z-index: 999;
    }
    .menu-btn i.active:before{
        content: "\f00d";
    }
    .navbar .menu{
        position: fixed;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0;
        background: #111;
        text-align: center;
        padding-top: 80px;
        transition: all 0.3s ease;
    }
    .navbar .menu.active{
        left: 0;
    }
    .navbar .menu li{
        display: block;
    }
    .navbar .menu li a{
        display: inline-block;
        margin: 20px 0;
        font-size: 25px;
    }
    .home .home-content .text-2{
        font-size: 70px;
    }
    .home .home-content .text-3{
        font-size: 35px;
    }
    .home .home-content a{
        font-size: 18px;
        padding: 10px 30px;
    }
    .max-width{
        max-width: 930px;
    }
    .about .about-content .column{
        width: 100%;
    }
    .about .about-content .left{
        display: flex;
        justify-content: center;
        margin: 0 auto 60px;
    }
    .about .about-content .right{
        flex: 100%;
    }
    .myblogs .blog-content .card{
        width: calc(50% - 10px);
        margin-bottom: 20px;
    }
    .skills .skills-content .column,
    .contact .contact-content .column{
        width: 100%;
        margin-bottom: 35px;
    }

    /* Tick about */
    .about-tick .tick-about-content .column{
        width: 100%;
    }
    .about-tick .tick-about-content .left{
        display: flex;
        justify-content: center;
        margin: 0 auto 60px;
    }
    .about-tick .tick-about-content .right{
        flex: 100%;
    }
}

@media (max-width: 690px) {
    .max-width{
        padding: 0 23px;
    }
    .home .home-content .text-2{
        font-size: 60px;
    }
    .home .home-content .text-3{
        font-size: 32px;
    }
    .home .home-content a{
        font-size: 17px;
    }
    .myblogs .blog-content .card{
        width: 100%;
    }
}

@media (max-width: 500px) {
    .home .home-content .text-2{
        font-size: 50px;
    }
    .home .home-content .text-3{
        font-size: 27px;
    }
    .about .about-content .right .text,
    .about-tick .tick-about-content .left .text{
        font-size: 19px;
    }
    .contact .right form .fields{
        flex-direction: column;
    }
    .contact .right form .name,
    .contact .right form .email{
        margin: 0;
    }
    .right form .error-box{
       width: 150px;
    }
    .scroll-up-btn{
        right: 15px;
        bottom: 15px;
        height: 38px;
        width: 35px;
        font-size: 23px;
        line-height: 38px;
    }

}


/*=================== Tick Tick CSS ================*/

/* Home ticktick */
.home-tick{
    display: flex;
    background: url("Photos/Tick-Tick/Profile-Tick.png") no-repeat center;
    height: 100vh;
    color: #fff;
    min-height: 500px;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Ubuntu', sans-serif;
}
.home-tick .max-width{
  width: 100%;
  display: flex;
}

.home-tick .max-width .row{
  margin-right: 0;
}

.home-tick .tick-content .text-1{
    font-size: 27px;
}
.home-tick .tick-content .text-2{
    font-size: 75px;
    font-weight: 600;
    margin-left: -3px;
}
.home-tick .tick-content .text-3{
    font-size: 20px;
    margin: 5px 0;
}
.home-tick .tick-content .text-2 span{
    color: rgb(156, 28, 54);
    font-weight: 400;
}
.home-tick .tick-content a{
    display: inline-block;
    background: rgb(97 127 221);
    color: #fff;
    font-size: 20px;
    padding: 12px 36px;
    margin-top: 20px;
    font-weight: 300;
    border-radius: 6px;
    border: 2px solid rgb(97 127 221);
    transition: all 0.3s ease;
}
.home-tick .tick-content a:hover{
    color: rgb(97 127 221);
    background: none;
}

.home-tick .tick-content .text-2{
    font-size: 70px;
}
.home-tick .tick-content .text-3{
    font-size: 35px;
}
.home-tick .tick-content a{
    font-size: 23px;
    padding: 10px 30px;
}

/* About tick */

.about-tick .tick-about-content .left img {
    height: 400px;
    width: 400px;
    object-fit: cover;
    border-radius: 6px;
}

.about-tick .tick-about-content .right p {
    text-align: justify;
}

.about-tick .title::after{
    content: "Lets begin";
}
.about-tick .tick-about-content .left{
    width: 36%;
}

.about-tick .tick-about-content .right{
    width: 55%;
}
.about-tick .tick-about-content .right .text{
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
}
.about-tick .tick-about-content .right .text span{
    color: rgb(156, 28, 54);
}
.about-tick .tick-about-content .right p{
    text-align: justify;
}
.about-tick .tick-about-content .right a{
    display: inline-block;
    background: rgb(156, 28, 54);
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    padding: 10px 30px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid rgb(156, 28, 54);
    transition: all 0.3s ease;
}
.about-tick .tick-about-content .right a:hover{
    color: rgb(156, 28, 54);
    background: none;
}

.tick-about-content p{

    text-align: justify;
}


/* home Media tick */
@media (max-width: 690px) {
    .max-width{
        padding: 0 23px;
    }
    .home-tick .tick-content .text-2{
        font-size: 60px;
    }
    .home-tick .tick-content .text-3{
        font-size: 32px;
    }
    .home-tick .tick-content a{
        font-size: 20px;
    }
    .myblogs .blog-content .card{
        width: 100%;
    }
}

@media (max-width: 500px) {
    .home-tick .tick-content .text-2{
        font-size: 50px;
    }
    .home-tick .tick-content .text-3{
        font-size: 27px;
    }
    .about .about-content .right .text,
    .skills .skills-content .left .text{
        font-size: 19px;
    }
    .contact .right form .fields{
        flex-direction: column;
    }
    .contact .right form .name,
    .contact .right form .email{
        margin: 0;
    }
    .right form .error-box{
       width: 150px;
    }
    .scroll-up-btn{
        right: 15px;
        bottom: 15px;
        height: 38px;
        width: 35px;
        font-size: 23px;
        line-height: 38px;
    }

}

/* Animations */
/* 
.animation_down {
    width: 100px;
    height: 2px;
    background-color: #0069b3;
    position: absolute  ;
    animation-name: animation_down;
    animation-duration: 1s;
    animation-iteration-count: infinite;
  }

  .animation_up {
    width: 100px;
    height: 2px;
    background-color: #0069b3;
    position: absolute  ;
    animation-name: animation_up;
    animation-duration: 1s;
    animation-iteration-count: infinite;
  }

  @keyframes animation_up {
    0%   {background-color:#3b5998; left:0px; top:10px;}
    25%  {background-color:rgb(38, 38, 38); left:400px; top:10px;}
    50%  {background-color:#0069b3; left:400px; top:10px;}
    75%  {background-color:rgb(38, 38, 38); left:0px; top:10px;}
    100% {background-color:#3b5998; left:0px; top:10px;}
  }

  @keyframes animation_down {
    0%   {background-color:#3b5998; left:0px; top:60px;}
    25%  {background-color:rgb(38, 38, 38); left:100px; top:60px;}
    50%  {background-color:#0069b3; left:100px; top:60px;}
    75%  {background-color:rgb(38, 38, 38); left:0px; top:60px;}
    100% {background-color:#3b5998; left:0px; top:60px;}
  }
 */

/* -----Media------- */

/* Left column */
.leftcolumn {
    float: left;
    width: 75%;
  }
  
  /* Right column */
  .rightcolumn {
    float: left;
    width: 25%;
    padding-left: 20px;
  }
  
  /* Fake image */
  .image {
    background-color: #555;
    width: 100%;
    padding: 20px;
  }
  
  /* Add a card effect for articles */
  .card {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Footer */
  .footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
    margin-top: 20px;
  }
  
  /* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {
      width: 100%;
      padding: 0;
    }
  }
